body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Loading animation styles */
.loading {
    display: none;
    /* Initially hidden */
    justify-content: center;
    align-items: center;
    height: 40px;
    /* Adjust as needed */
    margin-top: 10px;
    /* Add margin to separate animation from button */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    margin-top: 0;
    color: #333;
}


.form-container {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 10px;
}

.notification {
    max-width: 650px;
    min-height: 150px;
    background-color: #e1efff;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.notification > p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.notification > ol {
    text-align: justify;
    padding-right: 15px;
}

.notification > p, .notification > ol {
    line-height: 1.6;
}
label {
    padding: 10px;
    font-weight: bold;
}

.label
{
    width: 200px;
    padding: 10px;
}

.flex-container {
    display: flex;
}

.flex-container > label {
    width: 200px;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container > span {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container > select {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container > button {
    height: 100%;
    margin-top: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.btn-green {
    background-color: #4CAF50 !important;
}

button.btn-green:hover {
    background-color: #224A24 !important;
}

#page2 {
    margin-top: 10px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
}

td,
th {
    border: 1px solid #b9babb;
    padding: 8px;
}

th {
    width: 150px;
    text-align: right;
    background-color: #f2f2f2;
}

td {
    width: 150px;
    text-align: left;
}